@import url("~leaflet/dist/leaflet.css");
@import url("~react-image-gallery/styles/css/image-gallery.css");

.leaflet-container {
  width: 100%;
  height: 500px;
}

.outerMap {
    margin: 0 auto;
    min-width: 700px;


 }