@import url("~leaflet/dist/leaflet.css");
@import url("~react-image-gallery/styles/css/image-gallery.css");
html, body { 
  height: 100%; 
}
.leaflet-container {
  height: 100%; }

.outerMap {
  margin: 0 auto;
  min-width: 700px; }


  .outerBox {
    float: left;
    width: 100%;
    height: 100%;

    background-color: "black";
  }
  .outerMap {
    height: 80vh;
  }
  .markerImage {
    width: 150px;
  }
  .markerLink {
    color: black;
    width: 150px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
  }